.container{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    animation: explode 5s forwards;
    transform: scale(0.1);
    z-index: 9001;
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    
}

.inner_container{

    height: 50px;
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 2px 2px 6px 2px rgba(128, 128, 128, 0.308);
    position: relative;
    margin-top: 30vh;
 
}

.icon_container{
    
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.icon{
    height: 40px;
    width: 40px;
}

.message_container{

    text-align: center;
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 0px 5px;


}



@keyframes explode {

    0%{
        transform: scale(0.1);
    }

    10%{
        transform: scale(1.1);
    }

    20%{
        transform: scale(1);
    }

    90%{

        transform: scale(1);
        margin-left: 0vw;
    }

    100%{
        transform: scale(1);
        margin-left: 200vw;
    }
}